<!DOCTYPE html>
<html>
<head>
    <title>Image Classification</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script type="text/javascript" src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>
</head>
<body>
    <div class="container">
    
        <p style="font-size: x-large; font-weight: bolder; position:absolute; top: 0; left: 0; color: #ffffff; margin-top: 20px; text-align: center;width: 100%;">Image Classifier Model</p>
    
        <!-- image-box -->
        <div class="image-box">
            <img src="../static/default.webp" class="image">
            <!-- label-text -->
            <p class="label-text">Unidentified</p>
            <!-- accuracy-text -->
            <p class="accuracy-text">Accuracy: 0%</p>
        </div>
    
            <form method="post" enctype="multipart/form-data" class="">
                <input type="file" name="imagefile" accept="image/*" class="upload-btn">
                <input type="submit" value="Predict" class="predict-btn">
            </form>
    
                {% if prediction %}
                <h2>Prediction: {{ prediction }}</h2>
                
                {% endif %}

    </div>
    
    <!-- Link to our Javascript file  -->
    <script src="../static/script.js"></script>


    <!-- <h1>Upload an Image to Classify</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="imagefile" accept="image/*">
        <input type="submit" value="Upload">
    </form> -->

</body>
</html>
